services:
  # --- COMPONENTES OPENSEARCH ---
  opensearch-dashboard:
    # Painel Web do OpenSearch, localhost:4040
    image: opensearchproject/opensearch-dashboards:latest
    ports:
      - "4040:5601"
    volumes:
      # Exportação/Mapeamento da Configuração do Painel
      - ./nsq-to-opensearch/config/opensearch_dashboards.yml:/usr/share/opensearch-dashboards/config/opensearch_dashboards.yml
    environment:
      - 'OPENSEARCH_HOSTS=["http://opensearch:9200"]'
      - DISABLE_SECURITY_DASHBOARDS_PLUGIN=true # Desabilita login no painel
    depends_on:
      opensearch:
        condition: service_healthy
    healthcheck:
      test: ["CMD-SHELL", 'wget -qO- http://localhost:5601/api/status | grep -E "state":"(green|yellow)"; echo $?']
      interval: 1m30s
      timeout: 30s
      retries: 5
      start_period: 30s

  opensearch:
    image: opensearchproject/opensearch:latest
    environment:
      - discovery.type=single-node
      - "OPENSEARCH_JAVA_OPTS=-Xms512m -Xmx512m"
      - plugins.security.disabled=true # Desabilita HTTPS e Autenticação
      - "OPENSEARCH_INITIAL_ADMIN_PASSWORD=SenhaForte2025!"
    volumes:
      # Persistência dos Dados (Logs e Índices)
      - ./persistence/opensearch/data:/usr/share/opensearch/data
      # Exportação/Mapeamento da Configuração
      - ./nsq-to-opensearch/config/opensearch.yml:/usr/share/opensearch/config/opensearch.yml
      #logs
      - ./persistence/opensearch/logs:/usr/share/opensearch/logs
    ports:
      - "9200:9200"
    healthcheck:
      test: ["CMD-SHELL", 'wget -qO- http://localhost:9200/_cluster/health | grep -E "status":"(green|yellow)"; echo $?']
      interval: 1m30s
      timeout: 30s
      retries: 5
      start_period: 30s

  # --- BRIDGE: NSQ to OpenSearch ---
  # Custom nsq-to-opensearch for greater control and topic flexibility
  nsq-to-opensearch:
    build:
      context: ./nsq-to-opensearch
      dockerfile: Dockerfile
    volumes:
      - ./nsq-to-opensearch/src:/app/src
    depends_on:
      nsqd:
        condition: service_healthy
      nsqlookupd:
        condition: service_healthy
      opensearch-dashboard:
        condition: service_healthy
    # healthcheck:
    #   test: ["executable", "arg"]
    #   interval: 1m30s
    #   timeout: 30s
    #   retries: 5
    #   start_period: 30s

  nsqd:
    image: nsqio/nsq
    command: /nsqd --lookupd-tcp-address=nsqlookupd:4160 --broadcast-address="nsqd"
    logging:
      driver: none
    ports:
      - "4150:4150"
      - "4151:4151"
    healthcheck:
      test: ["CMD-SHELL", 'wget -qO- http://localhost:4151/ping | grep -q "OK"; echo $?']
      interval: 1m30s
      timeout: 30s
      retries: 5
      start_period: 30s

  nsqlookupd:
    image: nsqio/nsq
    command: /nsqlookupd
    logging:
      driver: none
    ports:
      - "4160:4160"
      - "4161:4161"
    healthcheck:
      test: ["CMD-SHELL", 'wget -qO- http://localhost:4161/ping | grep -q "OK"; echo $?']
      interval: 1m30s
      timeout: 30s
      retries: 5
      start_period: 30s

  nsqadmin:
    image: nsqio/nsq
    command: /nsqadmin --lookupd-http-address=nsqlookupd:4161 --log-level="error"
    ports:
      - "4171:4171"
    depends_on:
      nsqlookupd:
        condition: service_healthy
    healthcheck:
      test: ["CMD-SHELL", 'wget -qO- http://localhost:4171/ping | grep -q "OK"; echo $?']
      interval: 1m30s
      timeout: 30s
      retries: 5
      start_period: 30s

  test:
    build:
      context: ./test
    command: bash -c "npm run dev"
    volumes:
      - ./test/src:/app/src
    depends_on:
      nsq-to-opensearch:
        condition: service_started

networks:
  default:
    name: ntos_default
    driver: bridge
    driver_opts:
      "com.docker.network.enable_ipv6": "false"
      com.docker.network.driver.mtu: 1400
